@use '../abstracts' as *;

.body_container{
    max-width: 1300px;

    @media (max-width: $breakpoint-lg) {
        width: 100%;
    }

    @media (max-width: $breakpoint-md) {
        width: 100%;
    }
}