@use '../abstracts' as *;

.footer-container{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    color: $color-secondary;
    
    &_social {

        &-list{
            display: flex;
            flex-direction: row;
            gap: 24px;
            
            &_item{

                &-link{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px; 

                    .icon {
                        font-size: 1.3rem;
                    }
                    
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        align-items: center;
        height: 80px;
        padding-top: 30px;
        
        &_social {
            margin-top: 20px;
        }
    }
    
    @media (max-width: $breakpoint-sm) {
        font-size: .9rem;
        
    }
}