@use '../abstracts' as *;

.header_container{
    width: 1300px;

    @media (max-width: $breakpoint-md) {
        width: 100%;
    }

}

.navbar {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    
    &_list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
        padding: 10px;
        border: 0.666667px solid #2563eb20;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        border-radius: 16px;
        position: relative;

        &.light {
            background-color: $color-background-light;
        }

        &.dark {
            background-color: $color-background-dark;
        }

        &-active{
            width: 140px;
            height: 50px;
            position: absolute;
            bottom: 10px;
            z-index: 0;
            border-radius: 12px;
            transition-property: all;
            transition-duration: 0.25s; 
            
            &.light {
                background-color: $color-primary-light;
            }

            &.dark {
                background-color: $color-primary-dark;
            
            }
        }

        &-item {
            width: 140px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            cursor: pointer;
            transition: transform 0.5s ease, filter 0.5s ease;
            transform: scale(1);

            &.active.light &_link {
                color: $color-background-light;
            }

            &.active.dark &_link {
                color: $color-background-light;
            }

            &_link {
                width: 100%;
                height: 100%;
                font-size: 1rem;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                
                &.light {
                    color: $color-text-light;
                }

                &.dark {
                    color:$color-text-navbar-dark;
                }

                .icon{
                    font-size: 1.5rem;
                }

            }   
        }
    }

   

    @media (max-width: $breakpoint-md) {

        &_list {
            // position: fixed;

            &-active {
                width: 50px;
            }

            &-item {
                width: 50px;

                &_link {

                    .text {
                        display: none;
                    }
                }
            }
        }
    }

   
}