@use '../abstracts' as *;

.aboutPage {
    width: 100%;
    height: calc(100vh - 130px);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 40px;

    &_card {
        width: 400px;
        height: 350px;
        border-radius: 24px;
        border: 0.666667px solid #2563eb20;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        &.dark {
            background-color: #131b32;
        }

        &_image {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            border: 3px solid rgba(37, 99, 235, 0.19);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_name {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }

        &_title {
            font-size: 1.2rem;
            margin-bottom: 15px;

            &.light {
                color: $color-primary-light;
            }

            &.dark {
                color: $color-primary-dark;
            }
        }

        &_social {
            margin-top: 20px;
            &-list{
                display: flex;
                flex-direction: row;
                gap: 24px;
                
                &_item{

                    &-link{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 5px;

                        .icon {
                            font-size: 1.3rem;
                            
                            &.dark {
                                color: $color-secondary-dark;
                            }
                        }
                    }

                    &:hover {
                        .icon {
                            color: $color-primary-light;
                        }

                    }
                }
            }
        }
    }

    &_myStory {
        margin: 50px 0;

        &_title {
            font-size: 4rem;
            font-weight: bold;
            margin-bottom: 20px;

            &.light {
                color: $color-primary-light;
            }
            &.dark {
                color: $color-primary-dark;
            }
        }



        &_story {
            list-style-type: disc;
            padding: 20px;
            border-radius: 24px;
            border: 0.666667px solid #2563eb20;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

            &.dark {
                background-color: #131b32;
            }

            &_item {
                font-size: 1rem;
                margin-bottom: 10px;
                line-height: 1.5;
                font-weight: 500;

                &.light {
                    color: $color-text-light;
                }

                &.dark {
                    color: $color-text-dark;
                }
            }

            &_quote {
                font-size: 1rem;
                font-style: italic;
                margin-top: 20px;
                font-weight: 400;

                &.light {
                    color: $color-text-light;
                }

                &.dark {
                    color: $color-text-dark;
                }
            }
        }
    }

    @media (max-width: $breakpoint-md) {
        grid-template-columns: 1fr 4fr;
        gap: 20px;
        height: auto;
        padding: 20px;

        &_card {
            width: 100%;
            height: auto;
        }

        &_myStory {
            &_title {
                font-size: 2.5rem;
            }
        }
    }
}