@use '../abstracts' as *;

.myStorySection {
    margin: 50px 0;

    &_title {
        font-size: 54px;
        font-weight: bold;
        color: $color-primary-light;
    }

    &_story {
        margin-top: 20px;
        padding: 10px 20px;

        &_item {
            font-size: 1.2rem;
            margin: 15px 0;
            color: $color-text-light;
            font-weight: 400;
            line-height: 30px;
        }
    }

}